<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-if="first">a</div>
      <div v-if="first">b</div>
      <div v-if="first">c</div>
      <div v-if="second">d</div>
      <div v-if="second">e</div>
      <div v-if="third">f</div>
      <div v-if="third">g</div>

      <button @click="change">go</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.min.js"></script>

    <script>
      const app = new Vue({
        el: "#app",
        data() {
          return {
            cnt: 0,
            first: true,
            second: false,
            third: false,
          };
        },
        methods: {
          change() {
            this.cnt += 1;
            this.first = this.one();
            this.second = this.two();
            this.third = this.three();
          },
          one() {
            return this.cnt % 3 === 0;
          },
          two() {
            return this.cnt % 3 === 1;
          },
          three() {
            return this.cnt % 3 === 2;
          },
        },
      });
    </script>
  </body>
</html>
